body{
  position: relative;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

#carouselExampleIndicators{
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-info{
 padding-top: 20px;
 margin-bottom: 570px;
}

.info{
  margin-left: 100px;
  margin-top: 50px;
}

.text-h1{
  font-family: 'CharterC-Bold';
  font-size: 50px;
  line-height: 56px;
  color: #FFFFFF;
  margin: 50px 0;
  margin-bottom: 70px;
}

.text-p{
  opacity: 0.8;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin-left: 60px;
  position: relative;
  color: #FBD784;
}

.text-p::before{
  position: absolute;
  content: '';
  width: 50px;
  height: 2px;
  background-color: #FBD784;
  left: -60px;
  bottom: 10px;
}

.info .btn{
  background-color: transparent;
  border-color: #FBD784;
  font-size: 12px;
  color: #FBD784;
  padding: 7px 40px;
  border-radius: 0;
  transition: all 0.7s ease;
}   

.info .btn:hover{
  color: #fff;
  background-color: #FBD784;
}
.lists{
  display: flex;
  align-items: center;

}
.lists li {
  margin-left: 50px;
  list-style: none;
}
.lists li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3em;
  transition: all 0.7s ease;
}

.lists li a:hover{
  color: #FBD784 ;
}

.column1{
  max-width: 490px;
  margin-left: 100px;
}

.rows .row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.column2{
  width: 780px;
  height: 800px;
}
.column2 img{
  width: 780px;
  height: 800px;
  object-fit: cover;
}

.description{
  font-family: 'Gilroy-Bold';
  font-size: 15px;
  line-height: 26px;
  color: #FFFFFF;
  font-weight: 700;
}

.rows .row:last-child{
  margin-top: 50px;
  flex-direction: row-reverse;
}

.rows .row:last-child .column1{
  margin-left: 0;
  margin-right: 100px;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: #fbd784;
}

/* mobile  */
@media (max-width: 767px){
  .carousel-item{
      width: 300% !important;
      margin-right: -150% !important; 
  }
  .w-100 {
      width: 100%!important;
  }
  #carouselExampleIndicators{
      max-width: 1000px;
  }
  .lists{
      display: none;
  }
  .header-info{
      margin-bottom: 300px;
   }
  .row{
      --bs-gutter-x: 0;
  }
  .rows .row{
      text-align: center;
  }
  .rows .row .column1{
      margin: 0 !important;
  }

  .column2{
      width: 780px;
      height: 400px;
  }

  .column2 img{
      height: 400px;
      object-fit: cover;
  }

  .header-info .info{
      padding-top: 200px;
      margin-left: 0;
  }

  .header-info .info p{
      font-size: .9em;
  }
  .header-info .info h1{
      font-size: 2em;
  }

  .header-info .info button{
      padding: 7px 60px;
      margin-left: 70px;
  }


}

/* tablet  */
@media screen and (min-width: 767px) and (max-width: 1024px){
  .rows .row .column1{
      margin: 0 !important;
  }

  .column1{
      text-align: center;
      max-width: 100%;
      padding: 0 20px;
  }
  .header-info{
      margin-bottom: 100px;
   }
   .row{
      --bs-gutter-x: 0;
   }
}